@import "tailwindcss";

@import "@nuxt/ui";

@theme {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;

  --color-primary-50:  #f9fafb;
  --color-primary-100: #f3f4f6;
  --color-primary-200: #e5e7eb;
  --color-primary-300: #d1d5db;
  --color-primary-400: #9ca3af;
  --color-primary-500: #111827;
  --color-primary-600: #020617;
  --color-primary-700: #020617;
  --color-primary-800: #020617;
  --color-primary-900: #020617;

  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background: #000;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
